body{
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.header{
    font-size: 6vh;
    font-weight: 500;
    background-color: #ffd6ba;
    padding: 10px 0;
    width: 100%;
    text-align: center;
}

.library-container{
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.book-card{
    background-color: #f0ddd6;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    min-width: 200px;
    flex: 1 1 calc(33.33% - 20px);
}

.form{
    padding: 10px;
}

.footer{
    position: fixed;
    bottom: 0;
    background-color: #ffd6ba;
    padding: 10px 0;
    width: 100%;
    text-align: center;
}