#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card{
  min-width: 50%;
  padding: 1rem;
  margin: 3rem;
  border-radius: 0.9rem;
  box-shadow: 0 0.3rem 1rem rgba(0,0,0,0.25);
}

.card-title {
  text-align: center;
  font-size: 2rem;
  color: white;
  margin-bottom: 1.5rem;
}

.card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form-group input {
  padding: 1rem;
  border-radius: 0.6rem;
  border: none;
  font-size: 1rem;
}

.full-width{
  grid-column: 1 / -1; /* spans the whole row */
}